<style>
    .image_div{
        height: 200px;
        width: 100%;
        float: left;
    }
    .image_li{
        float: left;
        height: 200px;
        width: 200px;
        border: 1px solid #D0D0D0;
        border-radius: 10px;
    }
    .image_li img{
        float: left;
        height: 200px;
        width: 200px;
        border-radius: 10px;
    }
    .image_ul{
        float: left;
    }
    .image_add{
        float: left;
        height: 200px;
        width: 200px;
        border: 2px solid #0C0C0C;
        border-radius: 10px;
        margin-left: 20px;
    }
    .image_add img{
        float: left;
        height: 100px;
        width: 100px;
        margin: 50px 50px;
    }
    .image_div_title{
        float: left;
        width: 100%;
        margin-top: 10px;
    }
</style>
<form class="layui-form" action="{:url()}" method="post">
    <div class="layui-tab-item layui-show">
        <div class="layui-form-item">
            <label class="layui-form-label">图片</label>
            <div class="layui-input-inline" style="width: 500px">
                <div class="image_div">
                    <div class="image_ul">
                        <div class="image_li" id="image" >
                            <img src="{$list2.image}">
                            <input type="hidden" name="image"  value="{$list2.image}">
                        </div>
                    </div>
                    <div class="image_add upload-image">
                        <img src="/upload/sys/add.png">
                    </div>
                </div>
                <div class="image_div_title">尺寸：210*150</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-inline" style="width: 500px">
                <input type="number" value="{$list2.sort}" class="layui-input field-name" name="sort" lay-verify="required" autocomplete="off" placeholder="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline" style="width: 500px">
                <input type="text" value="{$list2.name}" class="layui-input field-name" name="name" lay-verify="required" autocomplete="off" placeholder="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">父级分类</label>
            <div class="layui-input-inline" style="width: 500px">
                <select name="pid" lay-verify="required">
                    <option value="0">顶级分类</option>
                    {volist name="$list" id="vo"}
                    <option value="{$vo.id}" {eq name="$list2.pid" value="$vo.id"} selected {/eq}>{$vo.name}</option>
                    {volist name="$vo.list" id="vvo"}
                    <option value="{$vvo.id}" {eq name="$list2.pid" value="$vvo.id"} selected {/eq}>——————{$vvo.name}</option>
                    {/volist}
                    {/volist}
                </select>
            </div>
        </div>
    </div>
    <div class="layui-tab-item layui-form">
        <div class="layui-form-item" id="authShow"></div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" class="field-id" name="id" value="{$list2.id}">
            <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">提交</button>
            <a href="javascript:history.go(-1)" class="layui-btn layui-btn-primary ml10"><i class="aicon ai-fanhui"></i>返回</a>
            <div style="display:none;" id="formBtn"></div>
        </div>
    </div>
</form>
{include file="block/layui" /}
<script>
    layui.use(['jquery', 'laydate', 'upload'], function() {
        var $ = layui.jquery, laydate = layui.laydate, layer = layui.layer, upload = layui.upload;
        upload.render({
            elem: '.upload-image',
            url: '{:url("system/annex/upload?thumb=no&water=no")}'
            , method: 'post'
            , before: function (input) {
                layer.msg('文件上传中...', {time: 3000000});
            }, done: function (res, index, upload) {
                if (res.code == 0) {
                    layer.msg(res.msg);
                    return false;
                }
                layer.closeAll();
                $("#image").show();
                $("#image input").val(res.data.file);
                $("#image img").attr("src",res.data.file);
            }
        });
    });
</script>